@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #333333;
}

/* Общие параметры кнопки */
.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  background: #756157;
}

.navigation-link.button {
  color: #FFFFFF;
}

.button-light {
  background-color: #82B3D3;
}

.button-in-favorites {
  background-color: #7DB54F;
}

.button-gray {
  background-color: #F2F2F2;
}

/* Кнопка в секции Заинтересовались? */
.button-big {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Кнопка в секции Подписка */
.subscription-button {
  font-size: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: none;
}

.page-container {
  min-height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Шапка */
.page-header {
  background-color: #FFFFFF;
  color: #333333;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

/* main */
.main-index {
  flex-grow: 1;
}

/* HERO */
.hero-index {
  min-height: 485px;
  background-image:
    url("../images/hero-collar.svg"),
    url("../images/hero-index-background.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    center bottom,
    center;
  background-size:
    100% auto,
    cover;
    background-color: #796e9b;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

/* Преимущества */
.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item {
background-color: #83B3D31F;
}

.advantages-item-dark {
  background-color: #82B3D3;
}

.advantages-item-grey {
  background-color: #83B3D333;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title-light {
  color: #FFFFFF;
}

.advantages-item-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-desc-light {
  color: #FFFFFF;
}

/* .advantages-list li {
  text-align: center;
  background-color: #83B3D31F;
}

.advantages-list li:nth-of-type(odd) {
background-color: #83B3D333;
}

.advantages-list li.advantages-item-dark {
background-color: #82B3D3;
} */


/* Особенности */
.features {
  text-align: center;
}

.features-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.features-item-grey {
  background-color: #83B3D31F;
}

.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-item-desc {
  font-size: 18px;
  line-height: 21px;
}

/* Заинтересовались? */
.search-hotels {
  text-align: center;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Подписка */
.subscription {
  min-height: 415px; /*Потом нужно будет убрать, размеры добъёмся контентом*/
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3b6476;
  color: #FFFFFF;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/*Подвал*/
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


/* catalog */

/* Обёртка фильтра */
.main-inner-wrap {
  min-height: 412px;
  background-image: url("../images/catalog/catalog-filter-hotels-background.jpg");
  background-repeat: no-repeat;
  background-color: #3b6476;
  color: #FFFFFF;
}

/*Шапка фильтра поиска гостиниц*/
.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
}

/* Хлебные крошки */
.breadcrumbs-list {
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}
/* Переключатели фильтра */
.catalog-filter-title {
  font-size: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-size: 18px;
  line-height: 23px
}

/* Карточки гостиниц */
.sorting-products-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  font-family: "PT Sans";
  line-height: 21px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-list {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscription-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-descr-catalog {
  color: #333333;
}
